


<div class="about-section">
  <h1>About Us</h1>
 <strong ><blockquote>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
  An employee contributes labor and expertise to an endeavor of an employer or of a person conducting a business or undertaking (PCB)[2] and is usually hired to perform specific duties which are packaged into a job. In a corporate context, an employee is a person who is hired to provide services to a company on a regular basis in exchange for compensation and who does not provide these services as part of an independent business.[3]

An issue that arises in most companies, especially the ones that are in the gig economy, is the classification of workers. A lot of workers that fulfill gigs are often hired as independent contractors.  

As a general principle of employment law, in the United States, there is a difference between an agent and an independent contractor. The default status of a worker is employee unless specific guidelines are met, which can be determined by the ABC test.[4] Thus, clarifying whether someone who performs work is an independent contractor or an employee from the beginning, and treating them accordingly, can save a company from trouble later on.</blockquote>


</div>

<h2 style="text-align:left">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/free-vector/meeting-business-people-avatar-character_24877-57276.jpg?size=626&ext=jpg" alt="Jane" style="width:20%">
     	 <img src="https://media.gettyimages.com/photos/group-portrait-from-a-corporate-office-in-india-picture-id1144645913?s=612x612" alt="Jane" style="width:20%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
       
      </div>
    </div>
  </div>

<h2> <%= link_to 'Back', home_index_path %> </h2>
  
