<center><h1>New Employee</h1>

<%= render 'form', employee2: @employee2 %>

<%= link_to '<button type="button">Back</button>'.html_safe, employee2s_path %>
<%= link_to '<button type="button">Back TO Homepage</button>'.html_safe, home_index_path%>


